In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [5]:
data=pd.read_csv('D:\Downloads\Advertising.csv')

In [8]:
data=data.drop(["Unnamed: 0"], axis = 1)
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

Explain the dataset

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [11]:
data.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [12]:
data.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

# Check the summary statistics and discuss the max, min, avg, median, and percentiles.

In [13]:
data.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

When all of the maximums, minimums, averages, medians, and percentiles are taken into account, the amount spent on television commercials comes out on top, followed by newspapers and radio

# he manager wants to find out whether the same amount was spent for the three advertisements (TV , Radio and Newspaper). Comment on your findings.

Anova test
H0:Same amount was spent for the three advertisements

H1:Not the same amount was spent for the three advertisements

In [14]:
fvalue,pvalue = stats.f_oneway(data['TV'],data['Radio'],data['Newspaper'])
print(fvalue,pvalue)

358.8514595342597 4.552931539744962e-103

In [15]:
alpha = 0.05
if pvalue > alpha:
   print("Accept the null hypothesis")
elif pvalue < alpha:
    print("Reject the null hypothesis")

Reject the null hypothesis

As the p-value is less than 0.05, we reject the null hypothesis and accept the alternate hypothesis that suggests not the same amount was spent on the three advertisements.The amount spent on each of the three advertising differs significantly